<header>
    <nav>
        <a href="#/" class="brand">
            <img src="assets/images/logo.png" alt="logo" />
            DnD 5e - Races
        </a>
        <ul>
            <li>
                <a href="#/overview">Overview</a>
            </li>
        </ul>
        <ul class="pagination">
            <li>
                <a href="" class="previous-page">Previous</a>
            </li>
            <!--Links for individual pages will be added dynamically-->
            <li>
                <a href="" class="next-page">Next</a>
            </li>
        </ul>
    </nav>
</header>
