footer nav {
    width: 100%;
}

footer ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer li {
    margin-right: auto;
    flex: 0 0 auto;
}

footer li:last-of-type {
    margin-left: -8.301em;
}

footer img {
    width: 2em;
}
