@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');

@import 'app/components/header/header.component.css';
@import 'app/components/footer/footer.component.css';

:root {
    --bg-primary: #70839f;
    --bg-primary-hover: #778ba9;
    --bg-success: #2aa120;
    --bg-success-hover: #36c42b;
    --on-success: #fff;
    --bg-danger: #e73b2e;
    --bg-danger-hover: #ef3d2f;
    --bg-danger-disabled: #e88880;
    --on-danger: #fff;
    --surface: #fff;
    --surface-hover: #f3f3f3;
    --text-active: #4c5f77;
    --color: #0a0a0a;
    --color-hover: #2d2d2d;
    --border-color: #0a0a0a;
    --border-radius: 1em;
    --font-size: 16px;
    --font-weight: 400;
    --font-weight-bold: 700;
    --shadow-color: #0000004c;
    --shadow: 3px 3px 10px var(--shadow-color);
    --shadow-sm: 1px 1px 5px var(--shadow-color);
}

html,
body {
    height: 100%;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

main {
    display: flex;
    height: 100%;
    flex-direction: column;
}

main header,
main footer {
    flex: 0 0 2em;
}

main article {
    flex: 1 1 auto;
    padding: 0.2em 1em;
    overflow: auto;
}

hr {
    margin: 1em 0;
    border-style: solid;
    color: #d5d5d5;
}

* {
    margin: 0;
    box-sizing: border-box;
}
